<div class="tags" role="group" aria-label="Event Categories">
  <app-badge variant="sport">{{ event().sport }}</app-badge>
  <app-badge variant="category">{{ event().category }}</app-badge>
</div>

<h3 class="event-title">
  {{ event().name }}
</h3>

<div class="odds-row" role="group" aria-label="Betting Odds">
  <div
    class="odd-btn"
    role="group"
    [attr.aria-label]="'Home win at ' + event().odds['1']"
  >
    <span aria-hidden="true">1</span>
    <strong aria-hidden="true">{{
      event().odds["1"] | number: "1.2-2"
    }}</strong>
  </div>
  <div
    class="odd-btn"
    role="group"
    [attr.aria-label]="'Draw at ' + event().odds['x']"
  >
    <span aria-hidden="true">X</span>
    <strong aria-hidden="true">{{
      event().odds["x"] | number: "1.2-2"
    }}</strong>
  </div>
  <div
    class="odd-btn"
    role="group"
    [attr.aria-label]="'Away win at ' + event().odds['2']"
  >
    <span aria-hidden="true">2</span>
    <strong aria-hidden="true">{{
      event().odds["2"] | number: "1.2-2"
    }}</strong>
  </div>
</div>
