<div class="dropdown-wrapper">
  <button class="dropdown-trigger" type="button" (click)="toggle()">
    <span class="truncate">{{ getDisplayLabel(selected()) }}</span>
    <svg 
      class="chevron" 
      [class.open]="isOpen()" 
      xmlns="http://www.w3.org/2000/svg" 
      viewBox="0 0 20 20" 
      fill="currentColor">
      <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
    </svg>
  </button>

  @if (isOpen()) {
    <ul class="dropdown-menu">
      <li 
        class="dropdown-item" 
        [class.selected]="selected() === null" 
        (click)="selectOption(null as any)">
        Tutti (All)
      </li>
      @for (opt of options(); track opt) {
        <li 
          class="dropdown-item" 
          [class.selected]="opt === selected()"
          (click)="selectOption(opt)">
          {{ getDisplayLabel(opt) }}
        </li>
      }
    </ul>
  }
</div>
