<div
  style="
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 600px;
    margin: 0 auto;
  "
>
  <h2 id="betting-hiring-project">Betting Hiring Project</h2>
  <p>
    Il presente progetto include un progetto Angular di base dal quale il
    candidato dovrà procedere con lo sviluppo.
  </p>
  <h3 id="avvio-del-progetto-">Avvio del progetto:</h3>
  <ul>
    <li><strong>Node</strong>: è consigliata la versione v20.10.0</li>
    <li>
      <strong>Mock data</strong>: il progetto include un webserver locale KOA
      che sarà avviato sulla porta 3000
    </li>
    <li>
      <strong>Dev Env</strong>: utilizzare il comando
      <code>npm run dev</code> per avviare in parallelo:
      <ul>
        <li>webserver Angular (porta 4200): ambiente di sviluppo angular</li>
        <li>
          webserver Koa (porta 3000): mock server per la fruizione dei dati di
          esempio
        </li>
      </ul>
    </li>
  </ul>
  <h3 id="mock-webserver-endpoints">Mock Webserver endpoints</h3>
  <ul>
    <li>
      <strong
        ><a href="http://localhost:3000/events"
          >http://localhost:3000/events</a
        ></strong
      >: restituirà tutti gli eventi a disposizione in formato JSON
    </li>
    <li>
      <strong
        ><a href="http://localhost:3000/event/1"
          >http://localhost:3000/event/1</a
        ></strong
      >: restituirà il singolo evento con id (1 nell&#39;esempio) in formato
      JSON
    </li>
  </ul>
  <h3 id="obiettivi-">Obiettivi:</h3>
  <p>
    Lo scopo di questo test è valutare la conoscenza e la competenza del
    candidato nell&#39;utilizzo di Angular e delle sue funzionalità. A partire
    dallo skeleton fornito, il candidato dovrà creare una piccola applicazione
    che includa i seguenti elementi:
  </p>
  <ul>
    <li>
      <strong>Routing</strong>: Configurare il routing per navigare tra la home
      page e le pagine di dettaglio sport/categoria/evento.
    </li>
    <li>
      <strong>NgRx</strong>: Implementare lo stato dell&#39;applicazione per
      gestire gli eventi sportivi e i filtri applicati.
    </li>
    <li>
      <strong>RxJS</strong>: Utilizzare gli operatori RxJS per gestire flussi di
      dati asincroni.
    </li>
    <li>
      <strong>Components</strong>: Creare componenti Angular per visualizzare
      gli eventi sportivi e i dettagli.
    </li>
    <li>
      <strong>Services</strong>: Sviluppare servizi ove ritenuti necessari o
      utili.
    </li>
    <li>
      <strong>LESS</strong>: Utilizzare LESS per stilizzare l&#39;applicazione
      mantenendo un design coerente e reattivo.
    </li>
  </ul>
  <h3 id="obiettivi-extra-">Obiettivi Extra:</h3>
  <p>
    Il webserver fornito con l&#39;applicativo, genera randomicamente le quote
    per gli eventi, pertanto ad ogni richiesta le quote possono variare.
  </p>
  <ul>
    <li>
      <strong>Polling</strong>: Implementare un sistema di aggiornamento dei
      dati ad intervalli di 15 secondi
    </li>
  </ul>
  <h3 id="specifiche-">Specifiche:</h3>
  <ol>
    <li>
      <p><strong>Home Page</strong>:</p>
      <ul>
        <li>Deve elencare tutti gli eventi sportivi disponibili.</li>
        <li>
          Deve includere un menu laterale per filtrare gli eventi per sport e
          categorie.
          <img src="/assets/overview.png" alt="overview" title="overview" />
        </li>
      </ul>
    </li>
    <li>
      <p><strong>Pagina di dettaglio dello sport</strong>:</p>
      <ul>
        <li>
          Al click su uno sport nel menu laterale, l&#39;utente deve essere
          reindirizzato alla pagina con i soli eventi dello sport selezionato.
          <img src="/assets/sport.png" alt="sport" title="sport" />
        </li>
      </ul>
    </li>
    <li>
      <p><strong>Pagina di dettaglio della categoria</strong>:</p>
      <ul>
        <li>
          Al click su una categoria nel menu laterale, l&#39;utente deve essere
          reindirizzato alla pagina con i soli eventi dello categoria
          selezionata.
          <img src="/assets/category.png" alt="category" title="category" />
        </li>
      </ul>
    </li>
    <li>
      <p><strong>Pagina di dettaglio dell&#39;evento</strong>:</p>
      <ul>
        <li>
          Al click su un evento nella Home Page, l&#39;utente deve essere
          reindirizzato alla pagina di dettaglio dell&#39;evento.
        </li>
        <li>
          La pagina di dettaglio dovrebbe mostrare informazioni più specifiche
          sull&#39;evento selezionato.
          <img src="/assets/event.png" alt="event" title="event" />
        </li>
      </ul>
    </li>
    <li>
      <p><strong>Stile</strong>:</p>
      <ul>
        <li>Applicare stili LESS per un&#39;interfaccia utente pulita.</li>
      </ul>
    </li>
  </ol>
  <h3 id="task-">Task:</h3>
  <ul>
    <li>Implementare le funzionalità sopra descritte utilizzando Angular.</li>
    <li>
      Assicurarsi che l&#39;applicazione sia funzionante e che rispetti le
      specifiche.
    </li>
  </ul>
  <h3 id="criteri-di-valutazione-">Criteri di Valutazione:</h3>
  <ul>
    <li>Correttezza del codice.</li>
    <li>Pulizia e organizzazione del codice.</li>
    <li>Adesione alle best practices di Angular.</li>
    <li>Funzionalità e usabilità dell&#39;applicazione.</li>
    <li>Qualità e reattività del design.</li>
  </ul>
</div>
