<section class="events-area">
  <h2>Available Events</h2>

  <div class="events-scroll">
    @if (store.eventsLoading()) {
      <div class="loading-state">
        <p>Loading latest odds...</p>
      </div>
    } @else if (store.eventsError()) {
      <div class="error-state">
        <p>Error loading events: {{ store.eventsError() }}</p>
      </div>
    } @else {
      @if (store.filteredEvents().length === 0) {
        <div class="empty-state">
          <p>No events found for the selected filters.</p>
        </div>
      } @else {
        <div class="events-grid">
          @for (event of store.filteredEvents(); track event.id) {
            <div class="event-card">
              <span class="event-badge"
                >{{ event.sport }} - {{ event.category }}</span
              >
              <a [routerLink]="['/event', event.id]" class="event-title">{{
                event.name
              }}</a>
              <div class="odds-row">
                <button class="odd-btn">
                  <span>1</span>
                  <strong>{{ event.odds["1"] | number: "1.2-2" }}</strong>
                </button>
                <button class="odd-btn">
                  <span>X</span>
                  <strong>{{ event.odds["x"] | number: "1.2-2" }}</strong>
                </button>
                <button class="odd-btn">
                  <span>2</span>
                  <strong>{{ event.odds["2"] | number: "1.2-2" }}</strong>
                </button>
              </div>
            </div>
          }
        </div>
      }
    }
  </div>
</section>
